---
---
<form aria-hidden="true" class="grid" style="gap: var(--spacing-3)">
  <div>
    <div data-skeleton style="height: var(--space-2); width: var(--space-9); border-radius: var(--radius-sm)"></div>
    <div data-skeleton style="margin-top: var(--space-1); height: var(--space-7); width: 100%; border-radius: var(--radius-md)"></div>
  </div>
  <div>
    <div data-skeleton style="height: var(--space-2); width: var(--space-9); border-radius: var(--radius-sm)"></div>
    <div data-skeleton style="margin-top: var(--space-1); height: var(--space-7); width: 100%; border-radius: var(--radius-md)"></div>
  </div>
  <div>
    <div data-skeleton style="height: var(--space-2); width: var(--space-8); border-radius: var(--radius-sm)"></div>
    <div data-skeleton style="margin-top: var(--space-1); height: calc(var(--space-7) + var(--space-2)); width: 100%; border-radius: var(--radius-md)"></div>
  </div>
  <div>
    <div data-skeleton style="height: var(--space-2); width: calc(var(--space-9) - var(--space-4)); border-radius: var(--radius-sm)"></div>
    <div data-skeleton style="margin-top: var(--space-1); height: var(--space-5); width: calc(var(--space-9) + var(--space-8)); border-radius: var(--radius-md)"></div>
  </div>
</form>
